/* Content CSS goes here */

body{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 40px;
}

.author {
    font-size: 14px;
    color: gray;
}