._14YOVU{
    background-color: black !important;
    color: #fff;
    position: relative;
}

.SFueOp ._14YOVU {
    height: 150px !important;
}
._14YOVU::after {
    content: "keep your eyes on me as you type -  try words like, awesome, good, bad, decent";
    display: inline-block;
    font-size: 15px;
    color: gray;
    position: absolute;
    bottom: 18px;
    left: 15px;

}
._2sxtk- span {
    color: #fff !important;
}


/* for google disabling stuff, uncomment the below lines*/
/* 
body {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 40px;
    font-family: "Segoe UI Light", sans-serif;
    background-color: white !important;
}

body,
* {
    color: black;
    font-size: 30px;
}

a {
    text-decoration: underline !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
} */ 
