# DEV DEPENDENCIES
# To install all the libraries/dependencies at once,
# 'cd' to the current directory and run the command below:
# pip install -r requirements.txt

# Adding project dependencies to this file:
# 'pipreqs' is required to create this file. You can install it by running: "pip install pipreqs"
# or install all dependencies from this file:  "pip install -r requirements.txt"
# The next time you add a library to the python file, cd to the current dir and run the command:
# pipreqs .

matplotlib==3.5.0
nltk==3.6.5
numpy==1.21.4
pandas==1.3.4
scikit_learn==1.0.1
textblob==0.17.1
